
h2{ background-color: #f2f2f2; text-align: center; border: solid sandybrown; padding: 30px}

h3 {
  background-color: blue;
  color: white;
  padding: 10px 0 10px 20px;
}

footer {
  margin: 10px 0;
}

#books {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#books td, #books tr {
  border: 1px solid #ddd;
  padding: 8px;
}

#books tr:hover {
  background-color: #ddd;
}

#books th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: gainsboro;
  color: white;
}

#books td{
  background-color: #f2f2f2;
}
input[type=text], input[type=email] {
  width: 100%;
  padding: 12px 0px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 300px;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
}

input[type=submit]:hover {
  background-color: #45a049;
}

textarea{
  border: 1px solid #ccc;
  width: 100%;
  -webkit-box-sizing: border-box; /* <=iOS4, <= Android  2.3 */
  -moz-box-sizing: border-box; /* FF1+ */
  box-sizing: border-box; /* Chrome, IE8, Opera, Safari 5.1*/
}

.row{
  text-align: center;
}
.btn-primary{
  float: bottom;
  background-color: mediumaquamarine;
  border: none;
  color: black;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
}
.btn-success{
  float: bottom;
  background-color: mediumaquamarine;
  border: none;
  color: black;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
}

#form {
  width: 500px;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.notify span {
  font-size: 15px;
  color: blue;
}
